.comment {
    display: flex;
    margin: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    .user {
        display: flex;
        align-items: center;
        margin-right: 30px;
        .user-avatar {
            vertical-align: middle;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .username {
            font-size: 1.2rem;
        }
        
    }
    .comment-section {
        .rating {
            flex: 1;
            font-size: 1.2rem;
            color: green;
            margin-bottom: 10px;
        }
        .comment-content {
            font-size: 1.3rem;
        }
    }
}