@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
$dark-grey: #3b4856;
$light-grey: #dbdee2;
$lighter-grey: #e6e4e4;
$primary-color: #166da1;
$light-green: #009f90;
$font-text: "Quicksand", sans-serif;
$font-head: "Open Sans", sans-serif;
